@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary-50: #f0f9ff;
  --color-primary-100: #dff2ff;
  --color-primary-200: #b9e6fe;
  --color-primary-300: #7bd3fe;
  --color-primary-400: #34bdfc;
  --color-primary-500: #0aa6ed;
  --color-primary-600: #0084cb;
  --color-primary-700: #006daa;
  --color-primary-800: #055987;
  --color-primary-900: #0a4a70;
  --color-primary-950: #072f4a;

  --color-secondary-50: #f8f8f8;
  --color-secondary-100: #ececec;
  --color-secondary-200: #dcdcdc;
  --color-secondary-300: #bdbdbd;
  --color-secondary-400: #989898;
  --color-secondary-500: #7c7c7c;
  --color-secondary-600: #656565;
  --color-secondary-700: #525252;
  --color-secondary-800: #464646;
  --color-secondary-900: #3d3d3d;
  --color-secondary-950: #292929;
}

@layer theme {
  .font-title {
    font-family: var(--tw-font-title, 'Barriecito', 'cursive');
  }
}
