@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary-50: #f0f9ff;
  --color-primary-100: #dff2ff;
  --color-primary-200: #b9e6fe;
  --color-primary-300: #7bd3fe;
  --color-primary-400: #34bdfc;
  --color-primary-500: #0aa6ed;
  --color-primary-600: #0084cb;
  --color-primary-700: #006daa;
  --color-primary-800: #055987;
  --color-primary-900: #0a4a70;
  --color-primary-950: #072f4a;
}

@layer theme {
  .font-title {
    font-family: var(--tw-font-title, 'Barriecito', 'cursive');
  }
}
